@model IEnumerable<Streaming.Application.Streaming.Dto.ArtistaDto>

<div>
    <a class="btn btn-primary" role="button" href="/Artista/Criar">Criar Artista</a>
</div>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Backdrop</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nome</td>
                    <td>@item.Backdrop</td>
                    <td></td>
                </tr>
            }

        </tbody>
    </table>
</div>