<div style="display: flex; justify-content: center;" class="centered-container">
<form class="example-form" [formGroup]="usuarioForm" (ngSubmit)="submitForm()">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Ex. Gomes Souza" name="nome" id="nome" formControlName="nome">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Telefone</mat-label>
          <input type="tel" matInput placeholder="21-99999-9999" name="telefone" id="telefone" formControlName="telefone">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <!--Email-->
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="nome@email.com.br" name="email" id="email" formControlName="email">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <!--Plano-->
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Plano</mat-label>
          <input matInput placeholder="61a7726c-9b51-4beb-9303-9c3f61abdb2d" name="planoId" id="planoId" formControlName="planoId">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <!--Cartao-->
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Cartão</mat-label>
          <input matInput placeholder="5235 8810 5480 7804" formControlName="cartao">
        </mat-form-field>
      </td>
    </tr>
  </table>


  <!--Senha-->
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput placeholder="1" formControlName="senha">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <br>
  <button mat-raised-button color="accent" type="submit">Cadastrar</button>
  <br>

</form>
</div>
