.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}


.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura da tela */
  }


.button-space {
  margin: 0 10px; /* Adiciona margem horizontal entre os botões */
}
