<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
    <span>Streaming Music</span>
    <span class="example-spacer"></span>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="Compositor();">
      <mat-icon>add</mat-icon>
      <span>Compositor</span>
    </button>
    <button mat-menu-item (click)="Banda();">
      <mat-icon>add</mat-icon>
      <span>Banda</span>
    </button>
  </mat-menu>
</mat-toolbar>

<h1>Seja bem-vindo {{ currentUser }}</h1>
